@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Blue from logo */
  --color-primary: #1a237e;
  /* Green from logo */
  --color-secondary: #77BC1F;
}

/* Custom Base Styles */
body {
  font-family: 'Montserrat', sans-serif;
  @apply bg-white text-gray-900;
}

/* Custom Utilities if needed */
.btn {
  @apply px-6 py-3 font-semibold rounded transition-all duration-200;
}

.btn-primary {
  @apply bg-secondary text-primary hover:bg-secondary-hover;
}

.btn-outline {
  @apply border-2 border-primary text-primary hover:bg-primary hover:text-white;
}